@{
    ViewBag.Title = "Home";
}

<h2>Welcome</h2>

<p>
    This example presents a simplified reservation system for a restaurant implemented using ASP.net MVC 3.0 with 
    Razor as the view engine. The project uses the following libraries:
</p>
<ul>
    <li><a href="http://www.asp.net/downloads" title="ASP.net MVC 3">ASP.net MVC 3</a></li>
    <li><a href="http://code.google.com/p/moq/downloads/detail?name=Moq.4.0.10827.Final.zip&can=2&q=" title="Moq - Mocking Framework">Moq (mocking framework)</a></li>
    <li><a href="http://launchpad.net/nunitv2/2.6/2.6.0b4/+download/NUnit-2.6.0.12017.msi" title="NUnit - Unit Testing Framework">NUnit</a></li>
</ul>

<h3>Currenly implemented</h3>

<ul>
    <li>Homepage with introduction, menu and list of configuration settings</li>
    <li>Business logic to add and query reservations made by ID and date</li>
    <li>Unit tests for the business logic code</li>
    <li>View to list all reservations</li>
    <li>View to add new reservations</li>
    <li>Saves the reservations to a in-memory object in the Application object</li>
    <li>View to check reservations by date, implemented using ajax calls that retrieve answers from the server in json format</li>
</ul>

<h3>To be implemented</h3>

<ul>    
    <li>Present the reservations on the list page ordered</li>
    <li>Validate the date in the create action</li>
    <li>Reservations deletion (cancelation)</li>
</ul>


<h3>Configuration</h3>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th class="description">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>MaxCapacity</td>
            <td>@ViewBag.config.MaxCapacity</td>
            <td>Number of seats available at the restaurant.</td>
        </tr>
        <tr>
            <td>BookingTop</td>
            <td>@ViewBag.config.BookingTop</td>
            <td>
                Percentage of the seats that are available for booking. A value of 1 means that all seats are
                available for booking, 0.8 would mean that only 80% of the seats are available, a value over 1
                means we are accepting overbooking. So, a value of 1.2 means we are accepting bookings for 
                20% more seats than we actually have.
            </td>
        </tr>
    </tbody>
</table>