body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Layout 
-----------------------------------------------------------*/
div#wrapper
{
	width:700px;
	margin:10px auto;
}

/* Menu
-----------------------------------------------------------*/

div#menu ul
{
	padding:10px 0px;
}

div#menu li
{
	list-style-type: none;
	display:block;
	float: left;
	margin: 0px 20px 0px 0px;
}

/* Content
-----------------------------------------------------------*/

div#content
{
	clear: both;
}

/* Headers
-----------------------------------------------------------*/
h1,h2,h3,h4
{
	color: #FF7F24;
}

/* Tables
-----------------------------------------------------------*/

table
{
	border-collapse:collapse;
	margin:10px 20px;
}

th, td
{
	text-align:left;
	vertical-align: top;
	padding: 5px;
}

td 
{
	border: 1px solid #AAAAAA;
}

th.description
{
	width:75%;
}

